.carousel-container
    display: flex
    flex-direction: column
    align-items: center
    width: 250px
    margin: 0% 0% 10% 0%
    border-radius: 20px
    box-shadow: 0 3px 12px #e6afcf
    img
        display: none
        max-height: 430px

.carousel
    display: flex
    width: 300%

.carousel-container img.img-active
    display: block
    border-radius: 20px
    width: 100%
    transform: translateX(0%)
    transition: transform 0.5s ease-in-out

.fade
    animation-name: fade
    animation-duration: 1.5s

@keyframes fade
    from
        opacity: 0.4
    to
        opacity: 1
