<div class="card">
    <div class="card--player">
        <app-player></app-player>
    </div>


    <div class="card--row">
        <div class="card--carousel">
            <app-carousel [imageList]="imageList"></app-carousel>
        </div>
        <div class="text-space">
            <mat-divider [vertical]="true"></mat-divider>
            <div>
                <h5>
                    {{title}}
                </h5>
                <h1>
                    {{content}}
                </h1>
            </div>
        </div>
    </div>

    <div class="footer">
        <app-clock [dateDate]="initialDate"></app-clock>
    </div>
</div>