<div class="card">
    <div class="card--player">
        <app-player></app-player>
    </div>


    <div class="card--row">
        <div class="card--carousel">
            <app-carousel [imageList]="imageList"></app-carousel>
        </div>

        <div class="text-space">

            <mat-divider [vertical]="true"></mat-divider>

            <div>

                <p>
                    programei tanto, que não consegui pensar num texto bonito entao:
                </p>
                <h1> Que nosso amor seja igual a pomba do jumento: grande, forte, as vezes pode balançar, mas
                    ninguém tem coragem de se meter na frente!!!
                </h1>
            </div>
        </div>
    </div>

    <div class="footer">
        <app-clock></app-clock>
    </div>
</div>